@{
    ViewData["Title"] = "Roots & Rainbows";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]Roots & Rainbows</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
@* <header> *@
@*     <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"> *@
@*         <div class="container-fluid"> *@
@*             <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AsteriaArchives</a> *@
@*             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" *@
@*                     aria-expanded="false" aria-label="Toggle navigation"> *@
@*                 <span class="navbar-toggler-icon"></span> *@
@*             </button> *@
@*             <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"> *@
@*                 <ul class="navbar-nav flex-grow-1"> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a> *@
@*                     </li> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
@*                     </li> *@
@*                 </ul> *@
@*             </div> *@
@*         </div> *@
@*     </nav> *@
@* </header> *@
<div class="container">
    <main role="main" class="pb-3">
        <div class="text-center">
            <h1 class="display-4">Roots & Rainbows Salon Studio</h1>
        </div>
    </main>
</div>

@* <footer class="border-top footer text-muted"> *@
@*     <div class="container"> *@
@*         &copy; 2024 - AsteriaArchives - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
@*     </div> *@
@* </footer> *@
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


<style>
    :root {
        --main-color: #f3bd99;
        --main-dark10: #dbaa8a;
        --main-dark20: #c2977a;
        --main-dark30: #aa846b;
        --main-dark40: #92715c;
        --main-dark50: #7a5f4d;
        --main-dark60: #614c3d;
        --main-dark70: #49392e;
        --main-dark80: #31261f;
        --main-dark90: #18130f;
        --main-dark100: #000000;
        --main-light10: #f4c4a3;
        --main-light20: #f5caad;
        --main-light30: #f7d1b8;
        --main-light40: #f8d7c2;
        --main-light50: #f9decc;
        --main-light60: #fae5d6;
        --main-light70: #fbebe0;
        --main-light80: #fdf2eb;
        --main-light90: #fef8f5;
        --main-light100: #ffffff;
        
        --main-complement: #99cff3;
        
        --main-split-complement1: #bdf399;
        --main-split-complement2: #9999f3;
        
        --main-triadic1: #99f3bd;
        --main-triadic2: #bd99f3;
        
        --main-analogous1: #f3b499;
        --main-analogous2: #f3c699;
        
        --main-monochromatic1: #49392e;
        --main-monochromatic2: #9e7b63;
        
        --main-tetradic1: #a2f399;
        --main-tetradic2: #99cff3;
        --main-tetradic3: #ea99f3;
        
        --main2-raw-sienna: #d67747;
        --main3-mai-tai: #a76f07;
    }
    
</style>