@{
    ViewData["Title"] = "RgbBinary Page";
}

<div class="text-center">
    <h1 class="display-4">Create your own rainbow binary secret message image!</h1>
    <h3>Image will be 1920x1080 appropriate for desktop wallpapers or video conference backgrounds</h3>
</div>