<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - AsteriaArchives</title>
    <link rel="icon" href="~/favicon.png" type="image/png">
    <link rel="shortcut icon" href="~/favicon.png" type="image/png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/AsteriaArchives.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" />
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AsteriaArchives</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Math" asp-action="Pi">Math</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Hackathon" asp-action="Index">Hackathon</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="FrontEnd" asp-action="Index">FrontEnd</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            BackEnd
                        </a>
                        <ul class="dropdown-menu sitecolor-background">
                            <li class="navbar dropdown-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="BackEnd" asp-action="RgbBinary">Rgb Binary</a>
                            </li>
                            @* <li> *@
                            @*     <hr class="dropdown-divider"> *@
                            @* </li> *@
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            DevJokes
                        </a>
                        <ul class="dropdown-menu sitecolor-background">
                            <li class="navbar dropdown-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="BackEnd" asp-action="DevJoke">Dev</a>
                            </li>
                            <li class="navbar dropdown-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="BackEnd" asp-action="GeekJoke">Geek</a>
                            </li>
                            <li class="navbar dropdown-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="BackEnd" asp-action="ProgrammingJoke">Programming</a>
                            </li>
                            <li class="navbar dropdown-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="BackEnd" asp-action="NSFWProgrammingJoke">NSFWProgramming</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class="navbar dropdown-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="BackEnd" asp-action="SpookyJoke">Spooky</a>
                            </li>
                            @* <li class="navbar dropdown-item"> *@
                            @*     <a class="nav-link text-dark" asp-area="" asp-controller="BackEnd" asp-action="PunJoke">Pun</a> *@
                            @* </li> *@
                            @* <li class="navbar dropdown-item"> *@
                            @*     <a class="nav-link text-dark" asp-area="" asp-controller="BackEnd" asp-action="MiscJoke">Misc</a> *@
                            @* </li> *@
                            @* <li> *@
                            @*     <hr class="dropdown-divider"> *@
                            @* </li> *@
                        </ul>
                    </li>


                    @* <li class="nav-item py-1 px-2 border border-info rounded-2"> *@
                    @*     <a class="nav-link text-dark" asp-area="" asp-controller="BackEnd" asp-action="DevJoke">Dev</a> *@
                    @* </li> *@
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted" style="line-height: 28px;">
    <div class="container">
        &copy; @DateTime.Now.Year - AsteriaArchives -
        <i class="fa-brands fa-github mx-1"></i>
        <a href="https://github.com/AsteriHoku" target="_blank">GitHub</a> -
        <a asp-area="" asp-controller="Home" asp-action="Sources">Sources</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>