@{
    ViewData["Title"] = "Sea Green";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]Sea Green</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/seagreen.css"/>
</head>
<body>
<div class="container-fluid" style="min-height: 100vh;">
    <main role="main" class="pb-3 pt-5">
        <div class="text-center">
            <h1 class="display-4">Sea Green #339966</h1>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-9">
                <div class="card m-2 m-md-5">
                    <div class="card-header text-center">
                        Hello. Nice to meet you.
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Titles Happen</h5>
                        <p class="card-text">Paragraphs inside cards give us information.</p>
                    </div>
                </div>
            </div>
        </div>
        @* <div class="gradient7 text-center my-6"> *@
        @*     <h1 class="display-4">Roots & Rainbows Salon Studio</h1> *@
        @* </div> *@
    </main>
</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>